
<ion-content class="ion-padding">
  <div class="center">
    <img src="assets/icon/password.gif" alt="lock image" class="lock-img" />

    <!-- عنوان الصفحة -->
    <h2>{{ 'FORGOT_PASSWORD' | translate }}</h2>

    <!-- وصف التعليمات -->
    <p class="title">
      {{ 'FORGOT_PASSWORD_INSTRUCTIONS' | translate }}
    </p>

    <!-- إدخال البريد الإلكتروني -->
    <ion-item class="input-box">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input 
        [(ngModel)]="email"
        (keyup)="onKeyup_email($event)"
        name="email"
        placeholder="{{ 'EMAIL' | translate }}" 
        type="email"
      ></ion-input>
      <ion-icon 
        *ngIf="email"
        name="close-circle" 
        slot="end" 
        (click)="remove_email()"
      ></ion-icon>
    </ion-item>

    <!-- زر المتابعة -->
    <button
      [class]="validation()"
      type="submit"
    >
      {{ 'CONTINUE' | translate }}
    </button>

    <!-- رابط التبديل إلى إدخال رقم الهاتف -->
    <p class="help-text">
      {{ 'DONT_REMEMBER_EMAIL' | translate }}
      <a  class="phone-link">
        {{ 'SEND_PHONE_NUMBER' | translate }}
      </a>
    </p>
  </div>
</ion-content>
