<ion-content style="--overflow: hidden;">
  <div style="display: flex;flex-direction: row;margin-inline-start:5%; margin-top: 5%;"><ion-icon name="arrow-back-outline"></ion-icon></div>
  

  <div class="otp-container1">
    <div style="display: flex; flex-direction: row;">
      <img src="assets/icon/rest.png" alt="lock image" class="imagee" />
    </div>

    <div class="title">{{ 'SECURITY_SETTINGS' | translate }}</div>

    <div
      style="margin-top: 5%; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;"
    >
      <div></div>

      
      <div style="margin-top: 2%;">
        <ion-item class="input-box">
          <ion-icon name="lock-closed-outline" slot="start" class="center-icon"></ion-icon>
          <ion-input
            (keyup)="onKeyup_conpassword($event)"
            [(ngModel)]="conpassword.text_password"
            [type]="conpassword.password_type"
            [placeholder]="'OLD_PASSWORD' | translate"
          ></ion-input>
          <ion-icon
            [name]="conpassword.password_bool ? 'eye-off-outline' : 'eye-outline'"
            slot="end"
            (click)="con_eye()"
          ></ion-icon>
        </ion-item>
      </div>

      <!-- new password -->
      <div style="margin-top: 2%;">
        <ion-item class="input-box">
          <ion-icon name="lock-closed-outline" slot="start" class="center-icon"></ion-icon>
          <ion-input
            [(ngModel)]="password"
            [type]="password_type"
            [placeholder]="'NEW_PASSWORD' | translate"
            (keyup)="onKeyup_password($event)"
            (keyup)="onInputChange($event)"
          ></ion-input>
          <ion-icon
            [name]="password_bool ? 'eye-off-outline' : 'eye-outline'"
            slot="end"
            (click)="eye()"
          ></ion-icon>
        </ion-item>
      </div>

      <!-- password strength -->
      <div
        style="margin-top: 2%; text-align: center; margin-left: 3%; margin-right: 3%; align-items: center; justify-content: center; width: 90%;"
      >
        <div class="rectangle-container">
          <div
            class="rectangle"
            *ngFor="let rect of list; let i = index"
            [style.backgroundColor]="color(i)"
          ></div>
        </div>
      </div>

      <!-- password confirmation -->
      <div style="margin-top: 2%;">
        <ion-item class="input-box">
          <ion-icon name="lock-closed-outline" slot="start" class="center-icon"></ion-icon>
          <ion-input
            (keyup)="onKeyup_repassword($event)"
            [(ngModel)]="repassword.text_password"
            [type]="repassword.password_type"
            [placeholder]="'CONFIRM_PASSWORD' | translate"
          ></ion-input>
          <ion-icon
            [name]="repassword.password_bool ? 'eye-off-outline' : 'eye-outline'"
            slot="end"
            (click)="re_eye()"
          ></ion-icon>
        </ion-item>
      </div>

      <!-- continue button -->
      <button [class]="validation()" type="submit">
        {{ 'SAVE_CHANGES' | translate }}
      </button>
    </div>
  </div>
</ion-content>

 <!--<div class="title2"><div class="title1">
     <img src="assets/icon/opte.gif" alt="lock image" class="imagee" />
     <div class="title">
      <h2 class="otp">OTP<span class="verify">Verify!</span></h2></div>
    </div></div>
    
  
     !style="display: flex;flex-direction:column;position: relative;"
    <p class="p">We sent you a code to <br>
      <span>verify your Phone</span>
       </p>
   

 <div class="otp-inputs">
  <ion-input #input0 maxlength="1" type="tel"  (ionInput)="onInputChange($event, 0)"></ion-input>
  <ion-input #input1 maxlength="1" type="tel" (ionInput)="onInputChange($event, 1)"></ion-input>
  <ion-input #input2 maxlength="1" type="tel" (ionInput)="onInputChange($event, 2)"></ion-input>
  <ion-input #input3 maxlength="1" type="tel" (ionInput)="onInputChange($event, 3)"></ion-input>
</div>


    <p class="resend">
      Didn't receive? <a class="email-link">Send to Email</a>
    </p>
<div class="fle">  <button
  [class]="validation()"
  type="submit"
 
 >Continue

</button> </div>

  </div>!-->