<!--<ion-content class="ion-padding">
  <div class="otp-container" >
    <div style="display: flex;flex-direction: row;margin-right: 50px;">
     <img src="assets/icon/opte.gif" alt="lock image" class="imagee" />
     <div style="display: flex;flex-direction:column;position: relative;margin-right: 100px;">
      <h2 class="title">OTP<span class="verify">Verify!</span></h2></div>
    </div>
  
    
    <p class="subtitle" style="">We sent you a code to <br>
      <span>verify your Phone</span>
       </p>
   

 <div class="otp-inputs">
  <ion-input #input0 maxlength="1" type="tel"  (ionInput)="onInputChange($event, 0)"></ion-input>
  <ion-input #input1 maxlength="1" type="tel" (ionInput)="onInputChange($event, 1)"></ion-input>
  <ion-input #input2 maxlength="1" type="tel" (ionInput)="onInputChange($event, 2)"></ion-input>
  <ion-input #input3 maxlength="1" type="tel" (ionInput)="onInputChange($event, 3)"></ion-input>
</div>


    <p class="resend">
      Didn't receive? <a class="email-link">Send to Email</a>
    </p>

  <button
  [class]="validation()"
  type="submit"
 
 >Continue

</button>
  </div>
</ion-content>!-->
<ion-content>
  <div class="otp-container1">
    <div class="title1">
     <img src="assets/icon/opte.gif" alt="lock image" class="imagee" />
     <div class="title">
      <h2 class="otp">OTP<span class="verify">Verify!</span></h2></div>
    </div>
    
  
     <!--style="display: flex;flex-direction:column;position: relative;"!-->
    <p class="p">We sent you a code to <br>
      <span>verify your Email</span>
       </p>
   

 <div class="otp-inputs">
  <ion-input #input0 maxlength="1" type="tel"  (ionInput)="onInputChange($event, 0)"></ion-input>
  <ion-input #input1 maxlength="1" type="tel" (ionInput)="onInputChange($event, 1)"></ion-input>
  <ion-input #input2 maxlength="1" type="tel" (ionInput)="onInputChange($event, 2)"></ion-input>
  <ion-input #input3 maxlength="1" type="tel" (ionInput)="onInputChange($event, 3)"></ion-input>
</div>


    <p class="resend">
      Didn't receive? <a class="email-link">Send to Phone</a>
    </p>
<div class="fle">  <button
  [class]="validation()"
  type="submit"
 
 >Continue

</button> </div>

  </div>
</ion-content>
